nav{
    text-align: center;
}

a {
    margin-right: 40px;
    text-decoration: none;
    color: rgb(42, 54, 211);
}

a:hover {
    color: rgb(82, 82, 218);
    text-decoration: underline;
}

a:visited {
    color: rgb(42, 54, 211);
}

ul li {
    list-style: none;
    margin-bottom: 50px;
}

.directs {
    list-style: none;
}

.main_Title {
    font-size: 30px;
    text-align: center;
}

.mini_Presentation {
    font-size: 24px;
}

.mp_b {
    font-weight: normal;
}

.full_presentation {
    margin-left: 80px;
}

.presentation_title {
    font-size: 22px;
    margin-top: 80px;
    
}

.presentation_info {
    font-size: 16px;
}

.presentation_title h2 {
    margin-bottom: 5px;
}

.presentation_info p {
    margin-top: 5px;
}

.contact_title {
    text-align: right;
    font-size: 22px;
    margin-right: 375px;
}

.links {
    margin-left: 1350px;
}